<div>
    <main class="main">

        <div class="main-overview">
            <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--document">
                    <i class="far fa-file-alt">{{totalPleinte}}</i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light"><strong>Plaintes</strong></h3>
                    <p class="overviewCard-subtitle">{{pourcentageResolues}} % Resolues</p>
                </div>
            </div>
            <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--calendar">
                    <i class="far fa-calendar-check">{{totalChambre}}</i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light">Total <strong>Chambre</strong></h3>
                    <p class="overviewCard-subtitle">{{pourcentageocc}} % Occupees</p>
                </div>
            </div>
            <!-- <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--mail">
                    <i class="far fa-envelope">{{LiquidationCount}}</i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light"> <strong>Liquidation</strong></h3>
                    <p class="overviewCard-subtitle"></p>
                </div>
            </div> -->
            <!-- <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--photo">
                    <i class="far fa-file-image">{{totalLiquidators}}</i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light">Total <strong>Liquidateurs</strong></h3>
                    <p class="overviewCard-subtitle">{{percentageValid}} % Valide</p>
                </div>
            </div> -->
        </div>


    </main>
</div>